body{
    font-family:Helvetica, Arial, sans-serif, 'Raleway';
    font-size: 18px;
    color: grey;
    margin: auto;
    padding: auto;
    
}
.btn-custom{
    border-radius: 25px;
    
    width: 200px;
    /* height: 50px; */
    background-color: #3d9f96;
    color: #fff;
}

strong{
    font-size: 30px;
    font-family:Helvetica;
    
    }
 .your{
     font-weight: 50;
     font-size: 20px;
        
    }
h6{
    color: #3d9f96;
}

div > a{
    color: #3d9f96;
}

#social{
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    padding: auto;
}
/* icon*/
.photo3{
    margin-top: 5%;
}
.photo4{
    padding: 2%;
}

/* partie john do */
.border{
    border-radius: 50%;
    background-color: #fff;  
    width: 100px;
    height: 100px;
    display: inline-flex;


}
#john{
    background-color: #27242b;
     width: 100%; 
     height: 7cm;
     color:aliceblue;
     text-align: center;
}
.screen {
    text-align: start;
    margin-left: 25%;
}



.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
     
  }
  

  
 
@media  screen and (max-width:769px) {
    
    .body{
        margin: auto;
        overflow: hidden;
        font-size: 10px;
    }
    .photo4{
        width: 35px;
        padding: 1%;
    }
    .imgphone{
        width: 1%;
    }
    .geste1{
        float: none;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .container{
        display: block;
        text-align: center;
        float: none;
        width: 100%;
    }
    .imag{
        width: 10%;
    }
  
 
}